*.tfstate
*.tfstate.*
.terraform/
.terraformrc
terraform.rc
*.tfvars
*.tfvars.json
.vscode/
.idea/
.DS_Store
modules/*/.terraform.lock.hcl
modules/lambda-rds-apigw/lambda_function.zip
modules/lambda/lambda_function.zip
